.f-wrapper{
    background: rgb(5, 5, 5);
}
.f-container{
    justify-content: space-around;
}
.f-left{
    gap: 1rem;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    color: rgb(140 139 139);
}
.f-menu>span:hover{
    color: white;
    cursor: pointer;
}
.copyright{
    color:  rgb(140 139 139);
    font-size: small;
    /* justify-content: center; */
    text-align: center;
    padding: 1rem;
}


@media(max-width: 768px){
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
}