.App{
    position:relative;
    overflow-x: clip;
}

.App>:nth-child(1)
{
    background:var(--black);
    position: relative;
}
.white-gradient{
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: rgba(125, 175, 255, 0.44);
    filter: blur(110px);
    left: -10%;
    bottom: -10%;
}
.blue-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    /* background: rgba(64, 166, 206, 0.441); */
    background: rgb(106 164 255 / 44%);
    filter: blur(100px);
    right: 17%;
    top: 25%;
}